body {
    margin: 0;
    background: #DAE2E8;
    font-family: sans-serif;
}
.box {
    max-width: 1280px;
    margin: 0 auto;
    padding:10px 0;
}

/* THIS IS THE CSS FOR NAV SECTION */
.container {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.name {
    justify-content: left;
    align-items: flex-start;
    font-size: 32px;
    font-family: Roboto sans-serif;
}

.logo { 
    justify-content: center;
    align-content: center;
}

.nav-btn {
    display: inline-block;
    margin:20px auto;
    padding:20px 25px;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    color:#000000;
}

/* THIS IS FOR THE HERO SECTION */
.heroimg {
    background-image: url("../Images/background_img.png");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
    width:100%;
    height:500px;
}

.hero {
    position: absolute;
    top: 40px;
    right: 120px;
    height: 75%;
}

.about {
    position: absolute;
    top: 25%;
    left: 10%;
    height: 34%;
}

.text-block {
    position: absolute;
    top: 100px;
    left:40px;
    font-size: 18px;
    color: #D9E8E1;
    width:400px;
}


/* THIS IS THE CONTENT SECTION */
.kbyg p { 
    float: right;
    padding: 100px;
    text-emphasis: bold;
    text-transform: uppercase;
    font-size: 32px;
}

.DIY {
    float: right;
    max-width: 70%;
}

.DIY p {
    float: left;
    margin: auto;
    text-transform: uppercase;
    font-size: 32px;
}


/* THIS IS FOR YOUR FOOTER SECTION */
footer {
    margin: auto;
    display: inline-block;
    padding: 10px;
}

footer ul {
    display: inline-block;
    vertical-align: top;
   list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    text-transform: uppercase;
    font-size: 14px;
}